<div class = "nav">
{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}

    <div class="main">
      <div class="header__title">
        <div class="header__brand">
          {%- include svg/logo.svg -%}
          <!-- Coloquei um path para cada língua no config.yml. Se for voltar ao original (uma língua somente)
           tenho que procurar todos os documentos com paths[page.lang] e retirar o [page.lang] -->
          {%- assign _paths_root = site.paths[page.lang].root | default: site.data.variables.default.paths.root  -%}
          {%- include snippets/get-nav-url.html path=_paths_root -%}
          <!-- o título do site está aqui -->
          {%- if site.title[page.lang] -%}
            <a title="{%- if site.description[page.lang] -%}{{ site.description[page.lang] }}{%- endif -%}" href="{{ __return }}">{{ site.title[page.lang] }}</a>
          {%- endif -%}
        </div>
        {%- if site.search.provider -%}
          <button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button>
        {%- endif -%}
      </div>
      {%- if site.data.navigation.titles -%}
      <nav class="navigation">
        <ul>
          {%- for item in site.data.navigation.titles[page.lang] -%}
          {%- if item.url == page.url -%}
            <li class="navigation__item navigation__item--active"><a href="{{ item.url }}">{{ item.title }}</a></li>
          {%- elsif page.layout == 'article' and item.title == 'Articles' or item.title == 'Artigos' or item.title == 'Artículos' -%}
            <li class="navigation__item navigation__item--active"><a href="{{ item.url }}">{{ item.title }}</a></li>
          {%- else -%}
            <li class="navigation__item"><a href="{{ item.url }}">{{ item.title }}</a></li>
          {%- endif -%}
          {%- endfor -%}
                {%- if site.search.provider -%}
            <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
          {%- endif -%}
          {% if page.layout != 'index' %}
              {% assign posts=site.posts | where:"idy", page.idy | sort: 'lang' %}
              {% if posts.size == 0 %}
                  {% assign posts=site.pages | where:"idy", page.idy | sort: 'lang' %}
              {% endif %}
              {% if posts.size > 1 %}
              <header class="lang-options">
                  <ul>
                  {% for post in posts %}
                  <header><a href="{{ site.base-url }}{{ post.url }}" class="{{ site.data.languages[post.lang].icon }} title="View in {{post.lang}}">{{ site.data.languages[post.lang].icon  }} </a></header>
                  {% endfor %}
                  </ul>
              </header>
              {% endif %}
          {% endif %}
        </ul>
      </nav>
      {%- endif -%}
    </div>
  </header>
</div>
