---
layout: page
title: Artículos
mode: immersive
lang: es
idy: artigos
articles:
  data_source: /_posts/
  show_excerpt: true
  show_readmore: true
header:
  theme: dark
article_header:
  theme: dark
  type: cover
  image:
    src: /imageheader/partbook4es.jpeg

---

Próximamente

<!--
<div style='text-align:justify'>


In this section you can find conjunctural analysis and basic articles about politics.
Click on the respective titles to see more articles about it.

<br>
<br>

<h2><a href="{{ base.url }}/es/analisis.html" style="color:black">
  Análisis</a></h2>

  {% for post in site.categories.analisis limit: 4 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

<h2>
  <a href="{{ base.url }}/es/Entendiendo Política/"
     title="Basic notions of politics" style="color:black"
     >Entendiendo Política</a></h2>

    {% for post in site.categories.['Entendiendo Política'] limit: 4 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
-->
